# HTTP listen port
listen = "0.0.0.0:9090"

# Enable logging
verbose = true

# Polling time in second for gathering data from RPi and Arduino
# this interval must be longer than the number of sensors multiplied by 2 seconds
poll_interval = 20 
 
# list of sensors, which values are linear, to be requested to Arduino
arduino_linear_sensors = [ 'H','L','T','U']

# list of sensors, which values are exponential, to be requested to Arduino
arduino_exp_sensors = [ 'R','G','B','C']

# historic data depth: how many samples we keep to estimate a good value
historic_depth = 10

# percentile of the historic data
percentile = 0.8

# Sensor readings sanity checks: successive readings cannot deviate more than a given % 
upper_limit = 1.3 # this equates to +30%
lower_limit = 0.7 # this equates to -30%

# list of sensor to be read
relevant_sensors = [ 'H','T']

# first words used before the stats
speech = "Hi, here's the status"

# RPi GPIO pins used for power socket management
socket1 = 11
socket2 = 12

# Alarm: temperature threshold
critical_temp = 20

# Alarm: GPIO PIN to trigger the alarm
alarm_pin = 27
