# HTTP listen port
listen = "0.0.0.0:9090"

# Enable logging
verbose = true

# Polling time in second for gathering data from RPi and Arduino
poll_interval = 5
 
# list of sensor to be requested
arduino_sensors = [ 'T','L','H' ]

# RPi GPIO pins used for power socket management
socket1 = 11
socket2 = 12

